body {
    margin: 0px;
    font-family: "Kalam", "Comfortaa", "Happy Monkey";
}
h1 {margin-top: 0px;}
.top-container {background-color: #738397; height: 704px;}
.middle-container {background-color: #738397; height: 400px;}
.bottom-container {background-color: #738397; height: 400px;}
.programmer {text-decoration: underline;}
#mtn {position: absolute; left: 500px; top: 348px;}
#cld {position: absolute; left: 300px; top: 300px;}
#cld2 {position: absolute; left: 30px; top: 75px;}
#cld3 {position: absolute; left: 1200px; top: 200px;}
#imarnav {
    position: absolute; left: 600px; top: 150px; font-size: 45px; text-align: center; font-family: "Kalam", "Tangerine", "Comfortaa", "Happy Monkey", 'Times New Roman', Times, serif;
}
.aprogrammer {position: absolute; left: 50px; top: 100px; font-size: 45px;}
#otherpages {background-color: #00aaff00; height: 60px; width: 600px; position: fixed; right: 0px;}
a {font-size: 25px; text-decoration: none; color: black; position: absolute; top: 10px;}
a:hover, a:focus {text-decoration: underline yellow;}
#mywork {position: absolute; top: 10px; left: 190px;}
#contactme {position: absolute; top: 10px; left: 380px;}
#cld4 {position: absolute; left: 600px;}
#yticon {position: absolute; left: 100px;}
#dcordicon {position: absolute; left: 200px;}
#external-links {position: fixed; top: 0px;}
#otherpages {z-index: 99;}

